
      <div class="row">
        <div class="col-24">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div class="thumbnail pager">
                <div class="caption">
                  <h3>Thumbnail label</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua.</p>
                  <div class="row">
                    <div class="col-md-12 col-md-offset-6">
                      <button href="#" class="btn btn-primary btn-block " role="button"> Lorem ipsum </button>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12">
              <div class="thumbnail pager">
                <div class="caption">
                  <h3>Thumbnail label</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua.</p>
  
                  <div class="row">
                    <div class="col-md-12 col-md-offset-6">
                      <button href="#" class="btn btn-primary btn-block " role="button"> Lorem ipsum </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>