<div class="row form-newsletter">
    <div class="container">
      <form class="form-inline">
        <div class="form-group col-md-24">
          <div class="col-md-6"><label>Abonnz-vous notre newsletter </label></div>
          <div class="col-md-6"><input type="text" placeholder="Name" class="form-control input-max-width" /></div>
          <div class="col-md-6"><input type="text" placeholder="address email" class="form-control input-max-width" />
          </div>
          <div class="col-md-4"><button type="submit" class="btn btn-primary btn-block">submit</button></div>
        </div>
      </form>
    </div>
  </div>