<div class="row">
  <div class="row dark-ribbon">
  </div>
  <div class="container">
    <div class="row hidden-lg hidden-md menu-sm">
      <div class="col-sm-10 col-xs-8">
        <app-menubar></app-menubar> 
      </div>
      <div class="col-sm-10 col-xs-8">
        <img class="logo-sm hidden-lg hidden-md" src="assets\img\logosm.png" />
      </div>
    </div>
    <div class="row header-logo hidden-sm hidden-xs">
      <img class="logo " src="assets\img\logo.png" />
      <div class="col-md-8 col-md-offset-16 hidden-xs hidden-sm">
        <a href="#">Lorem ipsum</a>
        <button type="button" class="btn btn-primary">Lorem ipsum</button>
        <button type="button" class="btn btn-primary">Lorem ipsum</button>
      </div>
    </div>
  </div>
  <div class="row jumbo">
    <div class="row menu hidden-sm hidden-xs">
      <div class="col-md-8 col-md-offset-12">
        <app-menubar></app-menubar>
      </div>
    </div>
    <div class="container">
      <div class="col-md-16">
        <app-slideshowjumbo>app-slideshowjumbo</app-slideshowjumbo>
      </div>
      <div class="col-md-8 jumbo-cards">
        <div class="list-group text-center">
          <a href="#" class="list-group-item ">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.</p>
          </a>
          <a href="#" class="list-group-item ">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
<app-twocards></app-twocards>
<app-fourcards></app-fourcards>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-9">
      <button href="#" class="btn btn-warning btn-block " role="button"> Lorem ipsum
        <span class="glyphicon glyphicon-chevron-right chevro"></span>
      </button>
    </div>
  </div>
</div>
<app-newsletterform></app-newsletterform>
<app-footer></app-footer>