@dark-ribbon-height:9px;
@dark-ribbon-color:black;
@jumbo-background-color:#003366;

.dark-ribbon{
    height: @dark-ribbon-height;
    background-color: @dark-ribbon-color;
}

.menu{
    margin: 10px 0 25px 0;
}
.jumbo{
    background-color: @jumbo-background-color;
    padding-bottom: 5px; 
}
.jumbo-cards{
margin-top: 0% !important
}
.header-logo{
    padding: 8px 0 8px 0; 
}
.chevro{
    float: right;
}
.img-placeholder{
    width: 100%;
    background-color:grey;
}
.form-newsletter{
    border-top:1px rgba(200,200,200,0.5) solid;
    margin-top: 80px;
    padding:10px 0 15px 0;
}
form{
    margin: 15px;
}
form input{
    margin-left: 5px;
    width: 100% !important;
}
.footer-blue{
    background-color: #006699;
    padding: 40px 0 40px 0;
    color:white;
}
.blue-line{
    background-color:#00cccc;
    height: 9px;
}
.footer-black{
    background-color: black;
    height: 180px;
    color: white;
    font-size: 11px;
}
.footer-nav{
    color:white;
}
.footer-link{
    margin-top: 25px;
    margin-bottom: 30px;
}
